@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}
button{
  cursor: pointer;
}